/* Login.css */

/* Background styling */
.login-container {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #1db954, #191414); /* Spotify-themed gradient */
  padding: 2rem;
  padding-top: 100px; /* This should match the height of the fixed navbar */

}

/* Welcome Section Styling */
.welcome-section {
  margin-bottom: 2rem;
}

.ss-logo { /* Updated class for SongSwipe logo */
  width: 150px;
  margin-bottom: 20px;
}

.welcome-title {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
}

.welcome-subtitle {
  color: #b3b3b3;
  font-size: 1.25rem;
}

/* Steps Section Styling */
.steps-title {
  color: #fff;
  font-weight: 600;
}

.step-card {
  background-color: #222326;
  color: #b3b3b3;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.step-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Login Button Styling */
.login-button {
  background-color: #1db954;
  border: none;
  padding: 0.75rem 2rem;
  font-size: 1.25rem;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-button:hover {
  background-color: #1aa34a;
  transform: translateY(-3px);
}

/* Spotify Section Styling */
.spotify-credibility {
  text-align: center;
  margin-top: 2rem;
}

.spotify-text {
  color: #b3b3b3;
  margin-bottom: 0.5rem;
}

.spotify-logo {
  width: 100px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .welcome-title {
    font-size: 2rem;
  }
  
  .login-button {
    width: 100%;
    font-size: 1.1rem;
  }
  
  .step-card {
    margin-bottom: 1rem;
  }
}
